.win{
  margin-top: 5em;
  background-color: #111;
  border-radius:  10px;
  padding: 3rem;

  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.053),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.077),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.095),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.113),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.137),
  100px 100px 80px rgba(0, 0, 0, 0.19)
;
}

.win h1 {
  font-size: 4em;
  color: #fa5252;
  background-image: -webkit-linear-gradient(90deg, #fa5252 0%, #dd2476 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.win h1{
  color: white;
}

.win p{
  color: white;
  margin-bottom: 1em;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  display: flex;
  border-radius: 10px;
  border: 10px solid rgba(221,36,118,1);
 
  
}

.letter{
  box-sizing: border-box;
  font-size: 70px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100px;
  height: 100px;
  left: 1000px;
  top: 160px;

  font-weight: bold;

  background: linear-gradient(135deg, #02C39A 0%, #189D7C 100%),
  linear-gradient(135deg, #189D7C 0%, #02C39A 100%);
  

  border: double 6px transparent;

  border: 6px solid;

  border-image-source: linear-gradient(135deg, #02C39A 0%, #189D7C 100%);
  
  

  background-origin: border-box;
  background-clip: content-box, border-box;

  border-radius: 10px;
  margin-right: 8px;


  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.053),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.077),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.095),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.113),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.137),
  100px 100px 80px rgba(0, 0, 0, 0.19)
;
}
