 * {
  margin: 0;
  padding: 0;
 }

 html, body {
  height: 100%;
 }

 body{
    font-family: Roboto;
    background:  #573b6d;
    font-weight: bolder;

    
 }

 button {
   padding: 1rem 1.2rem;
  color: white;
font-weight: bold;
 background:  linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 98%);
  border-radius: 3rem; 
  border: none;

 }
 
 button:hover {
  animation: ani 8s linear infinite;
  border: none;
  cursor: pointer;
 }
 